Lab4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="money">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="6"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0.00"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="juicers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="juicer"
                            minOccurs="0"
                            maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="image" type="xs:string"/>
                            <xs:element name="description" type="xs:string"/>
                            <xs:element name="warranty"
                                        type="xs:string"
                                        minOccurs="0"/>
                            <xs:element name="weight"
                                        type="xs:decimal"
                                        minOccurs="0"/>
                            <xs:element name="cost"
                                        type="money"
                                        minOccurs="1"
                                        maxOccurs="unbounded"/>
                            <xs:element name="retailer"
                                        type="xs:anyURI"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
