XML/Prac-5.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="studentType">
        <xs:complexContent>
            <xs:extension base="personType">
                <xs:sequence>
                    <xs:element name="rollNo" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="employeeType">
        <xs:complexContent>
            <xs:extension base="personType">
                <xs:sequence>
                    <xs:element name="salary" type="xs:decimal"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="person" type="studentType"/>

    <xs:element name="performance">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="grade">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="A"/>
                                <xs:enumeration value="B"/>
                                <xs:enumeration value="C"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>