XML/Prac-2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:simpleType name="catType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Electronics"/>
            <xs:enumeration value="Clothing"/>
            <xs:enumeration value="Grocery"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="store">
        <xs:complexType>
            <xs:sequence>
                    <xs:element name="product" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="price" type="xs:decimal" />
                                <xs:element name="category" type="catType" />
                                <xs:choice>
                                    <xs:element name="discount" type="xs:string" />
                                    <xs:element name="offer_code" type="xs:string" />
                                </xs:choice>
                                <xs:element name="tags">
                                    <xs:simpleType>
                                        <xs:list itemType="xs:string"/>
                                    </xs:simpleType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute name="id" type="xs:string" use="optional" />
                        </xs:complexType>
                    </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>