XML/Prac-1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="creditType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
        </xs:restriction>
    </xs:simpleType> 

    <xs:group name="nameGroup">
        <xs:sequence>
            <xs:element name="first" type="xs:string"/>
            <xs:element name="last" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <xs:simpleType name="courseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UG"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="PhD"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="university">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="course" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="credits" type="creditType"/>

                            <xs:element name="instructor">
                                <xs:complexType>
                                    <xs:group ref="nameGroup"/>
                                    <xs:attribute name="title" use="optional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Dr"/>
                                                <xs:enumeration value="Mr"/>
                                                <xs:enumeration value="Ms"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="schedule">
                                <xs:simpleType>
                                    <xs:list itemType="xs:string"/>
                                </xs:simpleType>
                            </xs:element>

                            <xs:element name="type" type="courseType"/>

                        </xs:sequence>

                        <xs:attribute name="course_id" type="xs:string" use="required"/>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>