XML/Prac-3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:attributeGroup name="accountType">
        <xs:attribute name="AccType" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                <xs:enumeration value="Savings"/>
                <xs:enumeration value="Current"/>
                <xs:enumeration value="Investment"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Priority" type="xs:string"/>
    </xs:attributeGroup>

    <xs:simpleType name="attrType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="credit"/>
            <xs:enumeration value="debit"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="tranType">
        <xs:sequence>
            <xs:element name="amount" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="type" type="attrType"/>
    </xs:complexType>

    <xs:element name="bank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AccNum" type="xs:integer"/>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="transaction" type="tranType" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attributeGroup ref="accountType"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>